# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
view/dist
view/tmp
view/out-tsc
# Only exists if Bazel was run
view/bazel-out

# dependencies
view/node_modules
node_modules

# profiling files
view/chrome-profiler-events.json
view/speed-measure-plugin.json

# IDEs and editors
view/.idea
view/.project
view/.classpath
view/.c9/
view/*.launch
view/.settings/
view/*.sublime-workspace

# IDE - VSCode
view/.vscode/*
view/!.vscode/settings.json
view/!.vscode/tasks.json
view/!.vscode/launch.json
view/!.vscode/extensions.json
view/.history/*

# misc
view/.sass-cache
view/connect.lock
view/coverage
view/libpeerconnection.log
view/npm-debug.log
view/yarn-error.log
view/testem.log
view/typings

# System Files
view/.DS_Store
view/Thumbs.db
