<div class="card">
  <div class="card-body">
    <div class="profile-header d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img alt="Profile Photo" class="avatar" src="assets/img/anime3.png" />
        <h4 class="card-title">UserName</h4>
      </div>
      <div class="post-dropdown">
        <i class=" tim-icons icon-minimal-down"> </i>
      </div>
    </div>
    <form [formGroup]="createPostForm" (ngSubmit)="createPost()">
      <div class="form-group">
        <textarea class="form-control post-textarea" formControlName="content"  name="" id="" rows="3"></textarea>
      </div>
      <div class="row d-flex justify-content-between px-3">
        <div class="post-type">
          <a class="btn btn-primary btn-fab btn-icon btn-round text-white">
            <i class="fa fa-paperclip" aria-hidden="true"></i>
          </a>
          <a class="btn btn-primary btn-fab btn-icon btn-round text-white">
            <i class="tim-icons icon-single-copy-04"></i>
          </a>
          <a class="btn btn-primary btn-fab btn-icon btn-round text-white">
            <i class="fa fa-share"></i>
          </a>
        </div>
        <a class="btn btn-primary btn-round text-white">
          Send
        </a>
      </div>
    </form>
  </div>
</div>