.discussion-textarea{
    border-radius: 6px;
    width: 100%;
    padding-left: 1rem;
}
.discussion-textarea::placeholder{
    // padding: 1rem;
}

// .attachment-button{
//     position: absolute;
//     right: 60px;
//     top: 32px;
// }

// .response-button{
//     position: absolute;
//     right: 1px;
//     top: 16px;
// }
// .posts-button{
//     position: absolute;
//     right: 1px;
//     top: 16px;
// }