
<div class="card post-container">
  <div class="card-body">
    <div class="profile-header d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img alt="Profile Photo" class="avatar" [src]="postData.profilePicture" />
        <h4 class="card-title pt-1 pl-3">{{postData.username}}</h4>
      </div>
      <div class="post-dropdown">
        <i class=" tim-icons icon-minimal-down"> </i>
      </div>
    </div>
    <p class="card-text">
      {{postData.content}}
    </p>
    <a (click)="sendLike()" class="card-link">
      <i *ngIf="!like.value" class="fa fa-heart text-secondary" aria-hidden="true"></i>
      <i *ngIf="like.value" class="fa fa-heart text-primary" aria-hidden="true"></i>

    </a>
    <a (click)="commentsVisibility()" class="card-link">
      <i class="fa fa-comment" aria-hidden="true"></i>
    </a>
    <a class="card-link">
      <i class="fa fa-link" aria-hidden="true"></i>
    </a>

  </div>
  <div *ngIf="commentsHide" class="card-footer comment-box">
    <form [formGroup]="commentsData" class="form-inline w-100 d-flex justify-content-between" (ngSubmit)="publishComment()">
      <div class="comment-container">
        <textarea class="form-control w-100" formControlName="comment" name="comment" id="comment-box"></textarea>
      </div>
      <div class=" d-flex justify-content-end">
        <a class="btn btn-round btn-fab btn-icon btn-primary text-white" (click)="publishComment()">
          <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        </a>
      </div>
    </form>
  </div>
</div>
<div *ngIf="commentSuccessMessage" class="alert alert-success" role="alert">
  {{ commentSuccessMessage }}
</div>